.login-div{
    padding: 0px 15px 0px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(202, 229, 220);
}
.signUp{
    display: inline;
    margin-right: 10px;
}
.signIn{
    display:inline
}